# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Local settings
/codeStyles/
/checkstyle-idea.xml
/uiDesigner.xml
/vcs.xml
/inspectionProfiles/
